:root {
    --primary-color: #5228f5;
    --secondary-color: #354cfc;
    --accent-color: #0D0043;
    --background-color: #F7F7FF;
    --background-light: #ffffff;
    --paragraph: #6e6e86;
    --gradiant-1: 90deg, #5228F5 0%, #0D0043 100%;
    --gradiant-2: 270deg, #7A89FF 0%, #5228F5 100%;
}

.feature {
    --first-color: #6A5EF9; 
    --second-color: #5228F5;
    --third-color: #0D0043;
}

/* Define custom property for rotation */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


/* Header Styling */
.header {
    background-color: var(--background-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-width: 50px;
    height: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    font-family: 'Poppins';
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: var(--primary-color);
}

.sign-in button {
    background: linear-gradient(270deg, #7A89FF 0%, #5228F5 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    cursor: pointer;
    transition: background 0.3s;
}

.sign-in button:hover {
    background: var(--primary-color);
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    background-color: var(--background-color);
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%221014%22%20height%3D%22900%22%20viewBox%3D%220%200%201014%20900%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20opacity%3D%220.3%22%20filter%3D%22url%28%23filter0_f_1_591%29%22%3E%3Ccircle%20cx%3D%22507%22%20cy%3D%22392.597%22%20r%3D%22175.745%22%20fill%3D%22%237A89FF%22/%3E%3C/g%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_f_1_591%22%20x%3D%220.254639%22%20y%3D%22-114.149%22%20width%3D%221013.49%22%20height%3D%221013.49%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22/%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22shape%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%22165.5%22%20result%3D%22effect1_foregroundBlur_1_591%22/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-text {
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 20px;
    margin-top: 60px;
    line-height: 60px;
    max-width: 756px;
}

.hero-text h1 {
    background: linear-gradient(to right, var(--primary-color), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.hero-text p {
    color: var(--paragraph);
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 31px;
    font-family: 'Poppins';
}

.hero-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-color: #FFF;
    padding: 40px;
    border-radius: 20px; /* More rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    font-family: 'Poppins';
}

.hero-frame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Poppins';
}

.hero-frame input[type="text"] {
    width: 100%;
    padding: 20px; 
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f8f5ff;
    font-family: 'Poppins';
}

.button-frame {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.button-frame button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Smooth transition for hover effects */
}

.button-frame button svg {
    margin-right: 10px; /* Space between icon and text */
    fill: white; /* Icon color */
    width: 20px;
    height: 20px;
}

.quick-answer {
    background: linear-gradient(270deg, #7A89FF 0%, #5228F5 100%);
    color: white;
    padding: 18px 32px;
    border: 2px solid transparent;
    transition: background-position 0.5s ease, color 0.5s ease;
    background-size: 200% 100%;
    background-position: 0% 0%;
}

.quick-answer:hover {
    background-position: 100% 0%;
    color: white;
}

.long-answer {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.long-answer:hover {
    background-color: #7A89FF;
    color: white;
    border: 2px solid transparent;
}

#quizForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-wrapper {
    width: 100%;
}

#quiz-container {
    width: 100%;
    margin-bottom: 20px;
}

#question-section {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.question-slide {
    display: none;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--background-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.question-slide.active-slide {
    display: block;
}

.question-slide p {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: var(--accent-color);
}

.option {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--paragraph);
    cursor: pointer;
}

.option input[type="radio"] {
    margin-right: 10px;
    accent-color: var(--primary-color);
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.navigation-arrows button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.navigation-arrows button:hover {
    background-color: var(--secondary-color);
}

.navigation-arrows button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.question-indicator {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: var(--paragraph);
}

#continue-btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    display: none; /* Initially Hidden */
}

#continue-btn:hover {
    background-color: var(--primary-color);
}

.button-Continue {
    display: none; /* Removed as "Continue" is now inside navigation-arrows */
    margin: 20px auto 0;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button-Continue:hover {
    background-color: var(--primary-color);
}

.button-Continue:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Restart Button */
.restart-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.restart-button:hover {
    background-color: var(--secondary-color);
}

.hero-image {
    margin-top: 30px;
}

.hero-image img {
    max-width: 150px;
    height: auto;
}

/* Instant Insight Styling */
.instant-insight {
    font-size: 0.95em;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #333;
    display: none; /* Hidden by default */
}

/* In-depth Analysis Styling */
.in-depth-analysis {
    display: none;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--background-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.in-depth-analysis h3 {
    color: var(--accent-color);
}

.in-depth-analysis p {
    color: var(--paragraph);
    font-size: 1em;
    margin-bottom: 10px;
}
