:root {
    /* Primary and Secondary Colors */
    --primary1: #081d24;
    --primary2: #5228f5;
    --secondary1: #354CFC;
    --secondary2: #7a89ff;
    --accent1: #9B547F;
    --accent2: #e7ecef;
    --interactive1: #f5dd8f;
    --interactive2: #ffc107;
    --background-alt: #201862;
    --gradient1: linear-gradient(135deg, #5228f5 0%, #7a89ff 100%);
    --gradient2: linear-gradient(135deg, var(--accent1) 0%, var(--interactive2) 100%);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-alt);
    color: var(--accent2);
    line-height: 1.5;
}

a, button {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary1);
    color: var(--accent2);
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-logo{
    height: auto;  
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: var(--accent2);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary2);
}

.sign-in {
    padding: 8px 16px;
    background-color: var(--secondary1); 
    color: var(--accent3); 
    border: 2px solid var(--primary2); 
    border-radius: 4px; 
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.sign-in:hover {
    background-color: var(--primary2); 
    border-color: var(--accent2); /* Border color changes on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover */
}

.hero-section, .services-section {
    text-align: center;
    padding: 2rem;
}

.services-section h2 {
    margin: 2rem 0;
    color: var(--interactive2);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    border: 2px solid var(--accent1);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    text-align: left;
    background-color: var(--secondary2);
    cursor: pointer;
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.service-card:hover {
    background-color: var(--primary2);
    color: var(--accent2);
    border-color: var(--interactive2);
}

footer {
    background-color: var(--primary1);
    color: var(--accent2);
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }
}
