:root {
    /* Primary Colors */
    --primary1: #081d24; /* Deep, dark blue for main backgrounds */
    --primary2: #5228f5; /* Vibrant purple for key accents */

    /* Secondary Colors */
    --secondary1: #354CFC; /* Medium blue for secondary elements */
    --secondary2: #7a89ff; /* Light blue for lighter elements or accents */

    /* Accent Colors */
    --accent1: #9B547F; /* Muted pink as a warm, soft accent */
    --accent2: #e7ecef; /* Light grey for neutral contrasts */

    --background-alt: #201862;

    /* Interactive Colors */
    --interactive1: #f5dd8f; /* Warm yellow for interactive elements like buttons */
    --interactive2: #ffc107; /* Bright yellow for standout interactive elements */
    --gradiant1: linear-gradient(135deg, #5228f5 0%, #7a89ff 100%); 
    --gradient2: linear-gradient(135deg, var(--accent1) 0%, var(--interactive2) 100%); /* Gradient from muted pink to bright yellow */
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-alt);
    color: var(--accent2);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary1);
    color: var(--accent2);
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: var(--accent2);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary2);
}

.navbar-logo{
    height: auto;  
    width: 120px;
}

.Sign-in {
    padding: 8px 16px;
    background-color: var(--secondary1); 
    color: var(--accent3); 
    border: 2px solid var(--primary2); 
    border-radius: 4px; 
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.Sign-in:hover {
    background-color: var(--primary2); 
    border-color: var(--accent2); /* Border color changes on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Enhanced shadow on hover */
}


.hero {
    background-image: var(--gradiant1); 
    color: white; 
    text-align: center; 
    padding: 0;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.hero-content {
    max-width: 700px; /* Set a max width for the content */
}

.hero h1 {
    margin-bottom: 20px; /* Space between the heading and paragraph */
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.hero h2 {
    color: white;
    padding-bottom: 25px;
}

button.cta {
    padding: 12px 25px;
    background-color: var(--accent2); /* White background */
    color: var(--primary2); /* Vibrant purple text */
    border: 2px solid transparent; /* Transparent border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease; /* Smooth transition for all changes */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

button.cta:hover {
    background-color: var(--primary2); /* Vibrant purple background on hover */
    color: var(--accent2); /* White text on hover */
    border-color: var(--accent2); /* White border on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.service-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.service {
    position: relative;
    width: 30%; /* Adjust as needed */
    text-align: center;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.service-text {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent2); 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}


.about {
    background-color: var(--primary1); 
    padding: 50px; /* Ample padding for a spacious layout */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A more decorative font */
    text-align: center; /* Centered text for a neat layout */
    border-top: 5px solid var(--primary2); 
    border-bottom: 5px solid var(--primary2); /* Same colored bottom border */
}

.about-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; /* Spacing between the image and the text */
    padding: 50px; /* Padding around the content */
}

.about-logo {
    max-width: 400px; /* Maximum width of the logo image, adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

.about-content {
    max-width: 800px; /* Maximum width of the text content */
}

.about h2 {
    color: var(--primary2); 
    margin-bottom: 20px; 
    font-size: 2.5rem; 
}

.about p {
    font-size: 1rem; /* Adjust font size for readability */
    line-height: 1.6; /* Increase line height for better readability */
    color: var(--accent2); /* White text color for contrast */
    max-width: 600px; /* A narrower width for better reading experience */
    margin: 0 auto; /* Center the paragraph in the container */
    padding: 1em; /* Add padding for whitespace around the text */
    text-align: left; /* Left-aligned text for a clean look */   
}

footer {
    background-color: var(--primary1);
    color: var(--accent1);
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
